body {
  background: #ffffff;
  padding-bottom: 40px;
}

.logo {
  align-items: center;
}

.logo img {
  position: absolute;
  width: 56px;
  height: 34.17px;
  left: 120px;
  top: 29px;
}

.logo span {
  font-family: "Cedarville Cursive", cursive;
  font-size: 32px;
  position: absolute;
  width: 167px;
  height: 38px;
  left: 189px;
  top: 20px;
}

.menu {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-align: justify;

  position: absolute;
  float: right;
  left: 800px;
  top: 44px;
  font-style: normal;
  font-weight: bold;
  color: black;
}

.menu a {
  color: inherit;
}

.menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu ul li {
  display: inline;
  margin-left: 32px;
}

.hov_button:hover {
  color: #2d635e;
}

.button {
  background: #2d635e;
  padding: 14px 25px;
  border-radius: 7px;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  display: inline;
}

.button:hover {
  background: #444a4a;
  color: #ffffff;
}

/* Landing page part */

.landing container {
  font-family: "Cedarville Cursive", cursive;
  color: #444a4a;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 53px;

  position: absolute;
  width: 414px;
  height: 53px;
  left: 120px;
  top: 235px;
}

.landing h1 {
  position: absolute;
  width: 515px;
  height: 63px;
  left: 117px;
  top: 314px;

  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 63px;
  line-height: 63px;
  margin: 0;
  padding: 0;
}

.landing span {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;

  position: absolute;
  top: 417px;
  left: 240px;
  background: #2d635e;
  padding: 14px 50px;
  border-radius: 7px;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.1);
  color: #ffffff;
}

.landing span:hover {
  background: #444a4a;
}

.landing_button {
  position: absolute;
  width: 25px;
  height: 6px;
  left: 679px;
  top: 438px;
  padding: 78px 63px;
  margin: 0;
  background: #e3ebe7;
  opacity: 0.4;
  display: flex;
  align-items: center;
}

.landing_image span {
  background: #e3ebe7;
  position: absolute;
  margin: 0;
  width: 410px;
  height: 466px;
  top: 134px;
  left: 830px;
  display: flex;
}

.landing_image img {
  position: absolute;
  width: 344px;
  height: 373px;
  left: 877px;
  top: 269px;
  margin: 0;
}

/* Social part */

.social ul {
  list-style: none;

  position: absolute;
  left: 1288px;
  top: 348px;
}

.social ul li {
  margin-top: 14px;
  height: 32px;
  width: 32px;
}

.social span {
  position: absolute;
  width: 130px;
  height: 28px;
  left: 1280px;
  top: 565px;

  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 28px;

  color: #444a4a;

  transform: rotate(-90deg);
}

/* Estilization for the articles */

h2 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 38px;

  color: black;
}

p {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 36px;

  color: #444a4a;
}

/* About Us part */

.about-image span {
  position: absolute;
  width: 380px;
  height: 287px;
  left: 120px;
  top: 749px;

  background: #fae9e0;
}

.about-image img {
  position: absolute;
  width: 364.59px;
  height: 262.96px;
  left: 148px;
  top: 827px;
}

.about-image h4 {
  position: absolute;
  width: 116px;
  height: 53px;
  left: 73px;
  top: 715px;

  font-family: "Cedarville Cursive";
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 53px;

  color: black;

  opacity: 0.75;
  transform: rotate(-90deg);
}

#about-us article {
  position: absolute;
  width: 645px;
  height: 290px;
  left: 603px;
  top: 720px;
}

/* Promotion Part */

.promotion-image span {
  position: absolute;
  width: 410px;
  height: 276px;
  left: 838px;
  top: 1269px;

  background: #e3ebe7;
}

.promotion-image img {
  position: absolute;
  width: 236px;
  height: 320px;
  left: 910px;
  top: 1239px;
}

#promotion article {
  position: absolute;
  width: 615px;
  height: 238px;
  left: 120px;
  top: 1239px;
}

.order {
  position: absolute;
  left: 120px;
  top: 1501px;
  background: #2d635e;
  padding: 14px 54px;
  border-radius: 7px;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.1);
  color: #ffffff;

  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
}

.order:hover {
  background: #444a4a;
}

footer {
  position: absolute;
  width: 100%;
  height: 635px;
  left: 0px;
  top: 2169px;

  opacity: 0;
}

.totop span {
  position: fixed;
  height: 32px;
  width: 32px;
  top: 700px;
  left: 89.5%;
  background: #2d635e;
  padding: 14px 25px;
  border-radius: 7px;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.1);
  color: #ffffff;
}

.totop img {
  transform: rotate(-90deg);
  position: relative;
  top: 4px;
  left: 2px;
}
.totop span:hover {
  background: #444a4a;
}


